.sponsor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .title_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      display: flex;
      align-items: center;
      justify-content: center;

      &::before,
      &::after {
        content: '';
        width: 50px;
        height: 3px;
        background-color: #000;
      }

      img {
        margin-right: 3px;
      }
    }

    h3 {
      @include main-title-style;
    }
  }

  .sponsor_list {
    display: grid;
    grid-template-columns: repeat(5, 246px);
    column-gap: $spacing-12;
    row-gap: 5px;

    li {
      img {
        width: 100%;
      }
    }
  }
}
